h1{
  text-align: center;
}
#winCard{
  text-align: center;
  font-size: 10rem;
}
#counter{
  text-align: center;
  font-size: 5rem;
}
#square{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  font-size: 10rem;
  text-align: center;
}
#gameboard{
  display: flex;
  height: 620px;
  width: 620px;
  flex-flow: row wrap;
  margin: 0 auto;
}
#restartButton{
  text-align: center;
  font-size: 5rem;
  border: 5px solid black;
}
